/* CSS */
@font-face {
    font-family: 'Rye',cursive;
    src: url('https://fonts.google.com/specimen/Rye') format('woff');
    
    font-weight: normal;
    font-style: normal;
  }
  .title,
  .item-heading,
  .item
  .action-button
  .balance {
    font-family: 'Rye';
  }
  
  body, h1, div {
      margin: 0;
      padding: 0;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Adjust container height */
      background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/1048100/78c83b1d327bfdf61bfd0978c85f9272eb651a43.jpg');
      background-size: cover; /* Adjust background size to cover the container */
      background-position: center; /* Center the background image */
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      position: relative;
      padding: 20px;
      border 10px solid #777;
  }
  
  .title {
      font-size: 40px;
      margin-bottom: 20px;
      position: absolute;
      top: 10px;
      color: white;
  }
  
  .item-heading {
      font-size: 30px;
      margin-bottom: 20px;
      color: white;
  }
  
  .centered-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border: 2px solid #333; 
      padding: 20px; 
      margin-top: 20px;
  }
  
  .item {
      padding: 10px 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  
  .action-button {
      padding: 10px 20px;
      font-size: 20px;
      background-color: #b20101;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      margin-left: 30px;
      font-family: 'Rye';
  }
  
  .action-button:hover {
      background-color: #06841f;
  }
  
  .balance {
    font-size: 30px;
    color: green;
    background-color: black;
    font-family: 'Rye';
  }